<h1>Welcome <%= @user.username %></h1>

<br><br>

<h3><%= link_to 'My Recipes', user_recipes_path(@user) %></h3>

<h3><%= link_to 'Ingredients', ingredients_path %></h3>

<br>

<h3><%= link_to 'My Reviews', user_reviews_path(@user) %></h3>

<br><br>

<h3><%= link_to 'Explore more recipes!', recipes_path %></h3>

<%= link_to "Log Out", logout_path %>
