<%= form_for [@user, @recipe, @review] do |f| %>

  <%= f.label :comment %>
  <%= f.hidden_field :recipe_id %>
  <%= f.text_area :comment %>
  <br>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <br><br>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
