<p id="notice"><%= notice %></p>

<h3><%= @review.user.username %>'s review for <%= @review.recipe.name %></h3>

<%= simple_format @review.comment %>

<h4>Rating: <%= @review.rating %></h4>

<br><br>

<% if @current_user.id == @review.user.id %>
<%= link_to 'Edit', edit_user_review_path(@current_user, @review) %> | <%= link_to 'Delete', user_review_path(@current_user, @review), method: :delete, data: { confirm: 'Are you sure?' }%><br><br>
<% end %>
<%= link_to 'Back', user_reviews_path(@current_user) %>
