<%= form_for([@current_user, @recipe]) do |f| %>

  <br>

  <h3>Name</h3>

  <fieldset>
    <%= f.text_field :name %>
  </fieldset>

  <br>

  <h3>Description</h3>

  <fieldset>
    <%= f.text_area :description, rows: "10" %>
  </fieldset>

  <br>

  <h3>Ingredients</h3>
  
    <fieldset id="recipe-ingredients">
      <ol>
        <%= f.fields_for :recipe_ingredients do |task| %>
          <%= render 'recipe_ingredient_fields', f: task %>
        <% end %>
      </ol>
    <%= link_to_add_association 'Add ingredient', f, :recipe_ingredients, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|recipe_ingredient| recipe_ingredient.build_ingredient; recipe_ingredient } %>
    </fieldset>

  <br><br>

  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <h3>Instructions</h3>

  <fieldset>
    <%= f.text_area :instructions, rows: "10" %>
  </fieldset>

  <br><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
