<%= form_for([@user, @recipe]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <br>

  <h3>Ingredients</h3>

  <%= f.fields_for :ingredients do |ingredient| %>
  <p>
      <%= ingredient.label :name %>
      <%= ingredient.text_field :name %>
      <%= ingredient.label :quantity %>
      <%= ingredient.text_field :quantity %>
      <%= ingredient.check_box :_destroy %>
      <%= ingredient.label :_destroy, 'delete' %>
  </p>
  <% end %>

  <%= f.submit 'Add Ingredient', name: "add_ingredient" %>
  <%= f.submit 'Delete selected ingredients', name: "remove_ingredient" %>

  <br><br>

  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <%= f.label :instructions %>
  <%= f.text_area :instructions %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
