<p id="notice"><%= notice %></p>

<h1><%= @user.username %>'s Recipes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each_with_index do |recipe, i| %>
      <h3><%= "#{i+1}. " %><%= link_to recipe.name, user_recipe_path(@user, recipe) %></h3>
          <% if params[:user_id] == @current_user.id %>
            <%= link_to 'Edit', edit_user_recipe_path(@user, recipe) %> <br>
            <%= link_to 'Delete', user_recipe_path(@user, recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_user_recipe_path(@user) %>

<br><br>

<%= link_to 'Back', user_path(@user) %>
