<p id="notice"><%= notice %></p>

<h3>Name: <%= @recipe.name %></h3>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %><br>
<% end %>

<br>
<%= link_to 'Reviews', reviews_path %>

<%= link_to 'Review this recipe', new_user_recipe_review_path(@user, @recipe) %>

<br><br>

<%= link_to 'Edit', edit_user_recipe_path(@user, @recipe) %> | <%= link_to 'Delete', user_recipe_path(@user, @recipe), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<%= link_to 'Back', user_recipes_path(@user) %>
