<p id="notice"><%= notice %></p>

<h2><%= @recipe.user.username %>'s <%= @recipe.name%> recipe</h3>

<br>

<%= @recipe.description %>

<br>

<h3>Ingredients</h3>

<br>

<% @recipe.ingredients.each_with_index do |ingredient, i| %>
  <%= "#{i+1}. "%> <%= ingredient.name %><br>
<% end %>

<br>

<h3>Instructions</h3>

<br>

<%= @recipe.instructions %>

<br><br><br><br>

<% if @current_user.id == @recipe.user.id %>

<%= link_to 'Edit recipe', edit_user_recipe_path(@current_user, @recipe) %> | <%= link_to 'Delete recipe', user_recipe_path(@current_user, @recipe), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<br><br>

<h3>What people think of <%= @recipe.name %></h3>

<% @recipe.reviews.take(3).each_with_index do |review,i| %>
  <%= "#{i+1}. " %><%= review.comment %><br>
  rating: <%= review.rating %><br>
   reviewer: <%= link_to review.user.username, user_path(review.user) %>
<% end %>

<br><br>

<%= link_to 'More reviews for this recipe', recipe_reviews_path(@recipe) %>

<br>

<%= link_to 'Review this recipe', new_user_recipe_review_path(@current_user, @recipe) %>

<br><br>

<%= link_to 'My recipes', user_recipes_path(@current_user) %><br>
<%= link_to 'View all recipes', recipes_path %>
